<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main') }}">Мій Сайт</a>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main') }}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Homepage</a>
                </li>

            </ul>
        </div>
    </div>
</nav>